/*
CSS for the CS142 project #4 Problem #2 states component

Since CSS uses a global name space for classes we should use names starting with
cs142-states- here.
*/

.cs142-states-warning {
	color: red;
}

.cs142-states-outputbox {
	border: 4px green solid;
	margin-top: 4px;
}