#cs142-header {
	height: 100px;
	color: yellow;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	border-bottom: 4px black solid;
	margin: 0px;
	padding: 0px;
}

#cs142-header-title {
	margin: 0px;
	padding: 0px;
}

#cs142-header-subtitle {
	margin-top: 0px;
	padding-top: 0px;
}

#cs142-header-info-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#cs142-header-info-buttons > button {
	width: 100%;
}
